body    {
    background-image: url(../imagem/backpc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    max-height: 720px;
}

div.start-50 {
    border-color: #7c7c7c;
    background-color: #e2e1e3;
}

form {
    width: 700px;
}

@media only screen and (max-width: 1080px){
    body {
        background-image: url(../imagem/backm.jpg);
    }
    form {
        width: 280px;
    }
}